/* !font start */
@font-face {
  font-family: myffont;
  src: url(FONTS/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: mmyfontss;
  src: url(FONTS/VarelaRound-Regular.ttf);
}
* {
  font-family: myffont;
}
/* !font end */
/* ////////////////////////// */
/* !color variable start */
:root {
  --primary-color: white;
  --secondary-color: rgb(238, 238, 238);
  --third-color: #ca5d0e;
  --input-backcolor: white;
  --input-color: black;
  --white-color: white;
  --border-color: none;
}
.dark-theme {
  --primary-color: black;
  --secondary-color: #393939;
  --third-color: #ca5d0e;
  --input-backcolor: black;
  --input-color: white;
  --white-color: white;
  --border-color: none;
}
/* !color variable end */
/* ////////////////////////// */
/* ! html & body start */
html {
  height: 100%;
}
body {
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  background-repeat: no-repeat;
}
/* ! html & body end */
/* ////////////////////////// */
/* convert section start  */
#convertsection {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 293px;
  height: 621px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  margin: 20px;
}
/* convert section end  */
/* ////////////////////////// */
/* ! ad start */
.advertisement {
  height: 15%;
  width: 97%;
  margin: 3px;
  padding: 2px;
}
/* ! ad end */
/* ////////////////////////// */
/* ! screen start */
.screen-section {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.screeninput1 input {
  width: 256.3px;
  margin: 0px 10px 0px 14px;
  border: none;
  height: 40px;
  font-size: 55px;
  text-align: right;
}
.screeninput2 input {
  width: 256.3px;
  margin: 0px 10px 0px 14px;
  border: none;
  height: 35px;
  font-size: 28px;
  text-align: right;
  direction: rtl;
}
input[type="text"]:focus {
  outline: none;
}
/* ! screen end */
/* ////////////////////////// */
/* ! HR line break start */
hr {
  width: 90%;
  height: 1px;
  border: none;
  background-color: #eeecec;
  margin: 0;
}
/* ! HR line break end */
/* ////////////////////////// */
/* ! button start */
.button-section {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.keypad {
  height: 90%;
  width: 95%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.keybutton {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: none;
  border: none;
  font-size: 30px;
}
.keybutton:hover {
  background-color: var(--secondary-color);
  border-radius: 50%;
}
.keyrow {
  display: flex;
  justify-content: space-around;
}
/* ////////////////////////// */
/* ? special buttons start */
.specislbtn {
  color: #fd8d3b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
/* ? special buttons end */
/* ////////////////////////// */
/* ? equal buttun start ==== */
#equalbtn {
  color: var(--primary-color);
  background-color: var(--third-color);
  width: 55px;
  border-radius: 50%;
  border: none;
  font-size: 30px;
  text-align: center;
  padding: 11px;
  color: var(--white-color);
}
#equalbtn:hover {
  transform: scale(0.9);
  transition: 0.1s;
}
/* ? equal buttun end ==== */
/* ////////////////////////// */
/* ? AC buttun start ACAC */
#Acbuttun {
  font-size: 24px;
  font-family: mmyfontss;
}
/* ? AC buttun start end */
/* ////////////////////////// */
/* ? DARK MODE BTN START */
#lightbtnn {
  display: none;
}
/* ? DARK MODE BTN END */
/* ! button end */
/* ////////////////////////// */
/* ! input start */
input {
  background-color: var(--input-backcolor);
  color: var(--input-color);
}
/* ! input start */
/* ////////////////////////// */
/* ////////////////////////// */
/* ////////////////////////// */
/* ////////////////////////// */
/* ////////////////////////// */
/* ////////////////////////// */
/* ////////////////////////// */

/* ! RESPONSIVENESD */

@media screen and (max-width: 500px) {
  html {
    height: 100%;
    overflow: hidden;
  }
  body {
    height: auto;
  }
  #convertsection {
    width: 100vw;
    margin: 0;
    overflow: hidden;
    height: 102vh;
    margin: -17px;
    border: none;
    border-radius: 0;
  }
  .advertisement {
    height: 15%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .screeninput1 input {
    width: 90vw;
  }
  .screeninput2 input {
    width: 89vw;
  }
}
/* ! RESPONSIVENESD */